<a href="https://colab.research.google.com/github/tanvirshakil6059/CGCodeGenerator/blob/main/Python_Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 
* For this Python Assignment I select a dataset from https://www.kaggle.com/ronitf/heart-disease-uci. 
* This Dataset carrying  the **Heart Disease** data of 304 person. 
* Based on this dataset I will Develop My Machine Learning Model. 
* I Choose **Logistic Regression** Method for my model.

 
 

*   I Will done this project in **Google Colab**.
*   So At First I import dataset from my pc.

In [ ]:
from google.colab import files
files.upload()

* Then I import some important libraries for this code.

In [3]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import math
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

*   Here I initialize the Dataset which I import earlier and show some data from the dataset.
*   In this dataset, there is a 3 column **Age**, **Gender**[1=Male,0=Female],**Heart_Disease**[1=Have Disease,0=Haven't Disease].

In [4]:
df = pd.read_csv('Heart_Disease_Dataset_.csv')
df.head(10)

   Age  Gender  Heart_Disease
0   54       1              0
1   71       0              1
2   43       1              1
3   58       0              0
4   60       1              0
5   64       1              1
6   37       1              1
7   62       1              1
8   63       0              0
9   38       1              1



*   Here I Check if there was any null value that existed in the entire dataset.
*  Here you can see there is no null value. So I don't have to handle null values.

In [5]:
df.isnull().sum()

Age              0
Gender           0
Heart_Disease    0
dtype: int64

* Here I count how many patients have Heart Disease and How much haven't.

In [6]:
df['Heart_Disease'].value_counts()

1    165
0    138
Name: Heart_Disease, dtype: int64

* Here I split Age and Gender columns from the dataset because they are independent data.

In [7]:
x=df[['Age','Gender']]
x.head(10)

   Age  Gender
0   54       1
1   71       0
2   43       1
3   58       0
4   60       1
5   64       1
6   37       1
7   62       1
8   63       0
9   38       1

* Here I split the Heart_Disease column from the dataset because it is dependent data.

In [8]:
y=df['Heart_Disease']
y.head(10)

0    0
1    1
2    1
3    0
4    0
5    1
6    1
7    1
8    0
9    1
Name: Heart_Disease, dtype: int64

* This is a important part of this code.Here I slipt dataset for training and testing.

In [9]:
xtrain,xtest,ytrain,ytest= train_test_split(x,y,test_size=.40,random_state=1)

* Here is the test dataset for **Independent** data.

In [10]:
xtest

     Age  Gender
204   62       1
159   48       0
219   54       0
174   63       1
184   38       1
..   ...     ...
8     63       0
233   54       1
186   45       0
194   60       0
31    61       1

[122 rows x 2 columns]

* Here is the test dataset for **Dependent** data.

In [11]:
ytest

204    0
159    1
219    1
174    0
184    0
      ..
8      0
233    1
186    1
194    1
31     0
Name: Heart_Disease, Length: 122, dtype: int64

* Here I Choose **LogisticRegression** for My Model

In [12]:
model = LogisticRegression()

* Here I fit this model on the training datasets.  
* From this training Datasets, my model learn to Predict Heart Disease of patients

In [13]:
model.fit(xtrain,ytrain)

LogisticRegression()

* After completing the training I test my model on testing datasets which I split from the main dataset earlier
* Here we can see all predicted values of the test dataset.

In [14]:
model.predict(xtest)

array([0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0])

* After Testing the model in datasets, we need to know how much accurate results we get from this model.
* We can see my machine learning model generates **70%** Accurate results. Which is a pretty good score.

In [15]:
model.score(xtest,ytest)

0.7049180327868853